/* iRibbon theme color red and green */

/* General */
a{color:#007028;text-decoration:none}
a:hover{color:#93352F;text-decoration:none}
/* Half Nav */
#halfnav ul li a{
	color:#fff;
	background: #008D36;
  background: -moz-linear-gradient(top,  #008D36 0%, #007028 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008D36), color-stop(100%,#007028));
  background: -webkit-linear-gradient(top,  #008D36 0%,#007028 100%);
  background: -o-linear-gradient(top,  #008D36 0%,#007028 100%);
  background: -ms-linear-gradient(top,  #008D36 0%,#007028 100%);
  background: linear-gradient(top,  #008D36 0%,#007028 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008D36', endColorstr='#007028',GradientType=0 );
	border: 1px solid #6A8484;	
}
#halfnav ul li a:hover{	
  background: #93352F;
  background: -moz-linear-gradient(top,  #93352F 0%, #701e26 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93352F), color-stop(100%,#701e26));
  background: -webkit-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -o-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -ms-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: linear-gradient(top,  #93352F 0%,#701e26 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93352F', endColorstr='#701e26',GradientType=0 );
  border: 1px solid #8D5C38;
}
#halfnav li.current_page_item a{
  background: #93352F;
  background: -moz-linear-gradient(top,  #93352F 0%, #701e26 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93352F), color-stop(100%,#701e26));
  background: -webkit-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -o-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -ms-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: linear-gradient(top,  #93352F 0%,#701e26 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93352F', endColorstr='#701e26',GradientType=0 );
  border: 1px solid #8D5C38;
}
#halfnav li.current_page_item ul li a {
  background: #008D36;
  background: -moz-linear-gradient(top,  #008D36 0%, #007028 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008D36), color-stop(100%,#007028));
  background: -webkit-linear-gradient(top,  #008D36 0%,#007028 100%);
  background: -o-linear-gradient(top,  #008D36 0%,#007028 100%);
  background: -ms-linear-gradient(top,  #008D36 0%,#007028 100%);
  background: linear-gradient(top,  #008D36 0%,#007028 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008D36', endColorstr='#007028',GradientType=0 );
	border: 1px solid #6A8484;
}

/* Pagination */
.pagination span, .pagination a {
  color:#fff;
  background: #008D36;
  background: -moz-linear-gradient(top,  #008D36 0%, #007028 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008D36), color-stop(100%,#007028));
  background: -webkit-linear-gradient(top,  #008D36 0%,#007028 100%);
  background: -o-linear-gradient(top,  #008D36 0%,#007028 100%);
  background: -ms-linear-gradient(top,  #008D36 0%,#007028 100%);
  background: linear-gradient(top,  #008D36 0%,#007028 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008D36', endColorstr='#007028',GradientType=0 );
}
.pagination a:hover{
  color:#fff;
  background: #93352F;
  background: -moz-linear-gradient(top,  #93352F 0%, #701e26 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93352F), color-stop(100%,#701e26));
  background: -webkit-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -o-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -ms-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: linear-gradient(top,  #93352F 0%,#701e26 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93352F', endColorstr='#701e26',GradientType=0 );
}
.pagination .current{
  background: #93352F;
  background: -moz-linear-gradient(top,  #93352F 0%, #701e26 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93352F), color-stop(100%,#701e26));
  background: -webkit-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -o-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -ms-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: linear-gradient(top,  #93352F 0%,#701e26 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93352F', endColorstr='#701e26',GradientType=0 );
  color:#fff;
}

/* Mobile Nav */
#mobile-nav {
  background: #008D36;
  background: -moz-linear-gradient(top,  #008D36 0%, #007028 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008D36), color-stop(100%,#007028));
  background: -webkit-linear-gradient(top,  #008D36 0%,#007028 100%);
  background: -o-linear-gradient(top,  #008D36 0%,#007028 100%);
  background: -ms-linear-gradient(top,  #008D36 0%,#007028 100%);
  background: linear-gradient(top,  #008D36 0%,#007028 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008D36', endColorstr='#007028',GradientType=0 );
}
#mobile-nav-modal .modal-footer {
  background: #93352F;
  background: -moz-linear-gradient(top,  #93352F 0%, #701e26 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93352F), color-stop(100%,#701e26));
  background: -webkit-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -o-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -ms-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: linear-gradient(top,  #93352F 0%,#701e26 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93352F', endColorstr='#701e26',GradientType=0 );
}
#mobile-nav-modal h3 {
  color:#93352F;
}

/* Nav */
#nav{
  background: #008D36;
  background: -moz-linear-gradient(top,  #008D36 0%, #007028 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008D36), color-stop(100%,#007028));
  background: -webkit-linear-gradient(top,  #008D36 0%,#007028 100%);
  background: -o-linear-gradient(top,  #008D36 0%,#007028 100%);
  background: -ms-linear-gradient(top,  #008D36 0%,#007028 100%);
  background: linear-gradient(top,  #008D36 0%,#007028 100%);
  -pie-background: linear-gradient(top,  #008D36 0%,#007028 100%);
}
/*#nav .current_page_item a{
  color:#333333 !important;yellow 
}

#menu-item-82 .current_page_item a{
  color:#333333 !important; 
}*/

#nav ul.children li.current_page_item a,#nav ul.children a:hover{
  color:#007028;/*green*/
}
#nav ul li > a:hover{
  color:#333333/*yellow*/
}
#nav li ul a{
  color:#93352F;/*red*/
  background:#fff
}
#nav li ul a:hover{
  color:#007028;/*green*/
}
#nav > ul > li > ul {
  border-top:#007028 1px solid;
  border-right:#007028 1px solid;
  border-bottom:#007028 1px solid;
  border-left:#007028 1px solid;
}
#nav > ul > li > ul > li {
  border-bottom-color: #007028;
}
#nav > ul > li > ul > li > ul li {
  border-top-color: #007028;
}
#nav:before {
  border-color: #0D632C transparent transparent transparent;
}
#nav:after {
  border-color: transparent transparent transparent #0D632C;
}

/* ribbons for nav */
.ribbon-left {
  background: #005620;
}
.ribbon-left-cut {
  background:url( '../../images/backgrounds/title-ribbon-left-green.png' ) no-repeat 0 0 transparent;
}
.ribbon-right {
  background: #005620
}
.ribbon-right-cut {
  background:url( '../../images/backgrounds/title-ribbon-right-green.png' ) no-repeat 0 0 transparent;
}

/* Ribbons */

/* content ribbons with left sidebar */
.sd_left_sidebar div.ribbon-top {
  background: #93352F;
  background: -moz-linear-gradient(top,  #93352F 0%, #701e26 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93352F), color-stop(100%,#701e26));
  background: -webkit-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -o-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -ms-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: linear-gradient(top,  #93352F 0%,#701e26 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93352F', endColorstr='#701e26',GradientType=0 );
}
.sd_left_sidebar div.ribbon-top:after {
  border-color: transparent #561e1e transparent transparent;
}
.sd_left_sidebar div.ribbon-more {
  background: #93352F;
  background: -moz-linear-gradient(top,  #93352F 0%, #701e26 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93352F), color-stop(100%,#701e26));
  background: -webkit-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -o-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -ms-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: linear-gradient(top,  #93352F 0%,#701e26 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93352F', endColorstr='#701e26',GradientType=0 );
}
.sd_left_sidebar div.ribbon-more:after {
  border-color: transparent transparent transparent #561e1e;
}

/* content ribbons with right sidebar */
.sd_right_sidebar div.ribbon-top {
  background: #93352F;
  background: -moz-linear-gradient(top,  #93352F 0%, #701e26 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93352F), color-stop(100%,#701e26));
  background: -webkit-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -o-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -ms-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: linear-gradient(top,  #93352F 0%,#701e26 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93352F', endColorstr='#701e26',GradientType=0 );
}
.sd_right_sidebar div.ribbon-more {
  background: #93352F;
  background: -moz-linear-gradient(top,  #93352F 0%, #701e26 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93352F), color-stop(100%,#701e26));
  background: -webkit-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -o-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -ms-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: linear-gradient(top,  #93352F 0%,#701e26 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93352F', endColorstr='#701e26',GradientType=0 );
}
.sd_right_sidebar div.ribbon-more:after {
  border-color: transparent transparent transparent #561e1e;
}
.sd_right_sidebar div.ribbon-top:after {
  border-color: transparent #561e1e transparent transparent;
}

/* sidebar ribbons */

.ribbon-bg-blue {
  background: #008D36;
  background: -moz-linear-gradient(top,  #008D36 0%, #007028 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008D36), color-stop(100%,#007028));
  background: -webkit-linear-gradient(top,  #008D36 0%,#007028 100%);
  background: -o-linear-gradient(top,  #008D36 0%,#007028 100%);
  background: -ms-linear-gradient(top,  #008D36 0%,#007028 100%);
  background: linear-gradient(top,  #008D36 0%,#007028 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008D36', endColorstr='#007028',GradientType=0 );
}
.ribbon-bg-blue:before {
  border-color: #0D632C transparent transparent transparent;
}
.ribbon-bg-blue:after {
  border-color: transparent transparent transparent #0D632C;
}
.ribbon-left-blue {
  background: #008D36;
  background: -moz-linear-gradient(top,  #008D36 0%, #007028 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008D36), color-stop(100%,#007028));
  background: -webkit-linear-gradient(top,  #008D36 0%,#007028 100%);
  background: -o-linear-gradient(top,  #008D36 0%,#007028 100%);
  background: -ms-linear-gradient(top,  #008D36 0%,#007028 100%);
  background: linear-gradient(top,  #008D36 0%,#007028 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008D36', endColorstr='#007028',GradientType=0 );
}
.ribbon-right-blue {
  background: #008D36;
  background: -moz-linear-gradient(top,  #008D36 0%, #007028 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008D36), color-stop(100%,#007028));
  background: -webkit-linear-gradient(top,  #008D36 0%,#007028 100%);
  background: -o-linear-gradient(top,  #008D36 0%,#007028 100%);
  background: -ms-linear-gradient(top,  #008D36 0%,#007028 100%);
  background: linear-gradient(top,  #008D36 0%,#007028 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008D36', endColorstr='#007028',GradientType=0 );
}

/* sidebar right ribbon styling */

#sidebar div.ribbon-cut-blue {
  background: url( '../../images/backgrounds/sidebar-ribbon-right-green.png' ) no-repeat 0 0;
}

/* sidebar left ribbon styling */

#sidebar_left div.ribbon-cut-blue {
  background: url( '../../images/backgrounds/sidebar-ribbon-left-green.png' ) no-repeat 0 0;
}

/* ELEMENTS */

/* Callout */
#callout_text {
  color:#E9ECC9;
}
.calloutrow {
  background: #007028;
  border-top: 3px solid #0D632C;
  border-bottom: 3px solid #0D632C;
}
.calloutrow a {
  color: #561e1e;
}
.calloutrow a:visited {
  color: #561e1e;
}
.calloutrow a:hover {
  color: #93352F;
}

/* Carousel */
.es-carousel ul li .image-container {
  border:3px solid #007028;
}
.es-nav span{
	background:transparent url('../../images/carousel-nav-red.png') no-repeat top left;
}
.es-carousel ul li:hover div.carousel_caption {color: #93352F; /*red*/}

/* Twitter */
#twitterbar {
  background: url('../../images/backgrounds/twitter-green.png') no-repeat 0 0;
}
.twittertext a:link {
  color: #93352F; /*red*/
}
.twittertext a:visited {
  color: #93352F; /*red*/
}
.twittertext a:hover {
  color:#007028;/*green*/
}
.twittertext {
border: 5px solid #008D36;/*green*/
color: #333;
background: #E9E3BB;/*yellow*/
}
.twittertext:before {
border-color: #008D36 transparent;/*green*/
}
.twittertext:after {
border-color: #E9E3BB transparent;/*yellow*/
}
.twittertriangle:before {
border-color: transparent #008D36;/*green*/
}
.twittertriangle:after {
border-color: transparent #E9E3BB;/*yellow*/
}

/* Widget Box */
.iribbon-box {
}
.box-widget-title {
	color: #E9E3BB;/*yellow*/
}
.boxes-row div.ribbon-top {
  background: #93352F;
  background: -moz-linear-gradient(top,  #93352F 0%, #701e26 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93352F), color-stop(100%,#701e26));
  background: -webkit-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -o-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -ms-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: linear-gradient(top,  #93352F 0%,#701e26 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93352F', endColorstr='#701e26',GradientType=0 );
}

.boxes-row div.ribbon-top:after {
  border-color: transparent #561e1e transparent transparent;
}
.boxes-row div.ribbon-top-end {
  background: #93352F;
  background: -moz-linear-gradient(top,  #93352F 0%, #701e26 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93352F), color-stop(100%,#701e26));
  background: -webkit-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -o-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -ms-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: linear-gradient(top,  #93352F 0%,#701e26 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93352F', endColorstr='#701e26',GradientType=0 );
}
.boxes-row div.ribbon-top-end:after {
  border-color: transparent transparent transparent #561e1e;
}
.boxes-row .textwidget {
	color: #E9E3BB;/*yellow*/
  background: #007028; /*green*/
}
/* bottom ribbons used in boxes */ 

.ribbon-bottom {
  background: #93352F;
  background: -moz-linear-gradient(top,  #93352F 0%, #701e26 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93352F), color-stop(100%,#701e26));
  background: -webkit-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -o-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -ms-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: linear-gradient(top,  #93352F 0%,#701e26 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93352F', endColorstr='#701e26',GradientType=0 );
}
.ribbon-bottom:before {
  border-color: transparent #561e1e transparent transparent;
}
.ribbon-bottom-end {
  background: #93352F;
  background: -moz-linear-gradient(top,  #93352F 0%, #701e26 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93352F), color-stop(100%,#701e26));
  background: -webkit-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -o-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: -ms-linear-gradient(top,  #93352F 0%,#701e26 100%);
  background: linear-gradient(top,  #93352F 0%,#701e26 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93352F', endColorstr='#701e26',GradientType=0 );
}
.ribbon-bottom-end:before {
  border-color: transparent transparent #561e1e transparent;
}
.boxes-row a {
  color: #561e1e;
}
.boxes-row a:visited {
  color: #561e1e;
}
.boxes-row a:hover {
  color: #93352F;
}
/* orbit slider border color */
#orbitDemo {
  border: 3px solid #008D36;
}