/* Response Pro Style.css */

/* HTML5 display tags */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

/* Reset and Design Constant Styles */

*, html, body{padding:0;border:0;margin:0;}
body, div, p, input, textarea{font-size:14px;}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
p{margin: 0 0 10px 0;clear: both;}
a{text-decoration:none}
a:hover{text-decoration:none}
#wrapper input, textarea{color:#666;border:#ccc 1px solid;border-radius:2px;-moz-border-radius: 2px;}
input[type=submit]{cursor:pointer;}
input {border: 1px solid #ccc;}
input[type=submit]{font-size: 12px;padding: 2px;margin-top: 5px;border: 1px solid #999;border-radius: 3px;-moz-border-radius: 3px;}
input[type=reset]{font-size: 12px;padding: 2px;margin-top: 5px;border: 1px solid #999;border-radius: 3px;-moz-border-radius: 3px;}
a img{border:none}
a{outline:none}

.container-fluid {max-width: 980px; margin-left: auto; margin-right: auto; padding-left:0px; padding-right: 0px;}

/* For sticky footer */
* {
	margin: 0;
}

html, body {
	height: 100%;
	margin:0px !important;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0px auto -236px auto; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push{
	height: 236px;
	clear:both;
}

/* Half Nav  */

#main_wrap {margin-left:20px; margin-right: 20px;}

#halfnav {
  float:right;
}
#halfnav ul, #halfnav ul li {
  display:inline;
  list-style:none;
  padding:0;margin:0
}
#halfnav ul li a{
	display:inline-block;
	margin: 5px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16px;
	padding: 5px;
	line-height:20px;
	text-decoration:none;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.28);
	border: 1px solid #6A8484;	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/* Misc */

#register {
  text-align: right; 
  list-style: none
}
#register li {
  float: right; 
  display: block; 
  padding-left: 5px;
}
.entry p {
  clear: none;
}
.clear {
  clear: both;
}
.error {
  font-size:28px; 
  text-align:center; 
}
.caption_title {
  font-size:16px;
}
.featured-image {
  float: inherit\0/ !important;
}

/* Pagination */

.pagination {
  clear:both;
  padding:2px 0;
  position:relative;
  font-size:11px;
  line-height:13px;
  margin-top: -5px;
}
.pagination span, .pagination a {
  display:block;
  float:left;
  margin: 2px 2px 2px 0;
  padding:6px 9px 5px 9px;
  line-height: 13px;
  border: none;
  text-decoration:none;
  width:auto;
}
.pagination .current{
  padding:6px 9px 5px 9px;
}

#dsq-content {background-color: white;
	padding: 5px 15px 20px 15px;
	border: 1px solid;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	border-radius: 4px;
}

/* Header  */

header {
  padding-top: 15px;
}

#header_contact{ 
	text-align:right;
}

#logo {
  margin-bottom: 5px;
}

#banner {
  margin-bottom: 10px;
}

/* Social Icons  */

#social {
  margin-bottom: 0px;
}

.icons {
  text-align:right;
}

.icons a img {
  opacity:.6; 
  padding-left: 3px;
}

.icons a:hover img {
  opacity:1;
}

/* Mobile Nav */
#mobile-nav {
  position: relative;
  width: 100%;
  height: 35px;
  margin: 5px 0;
}
#mobile-nav .mobile-nav-button {
  position: absolute;
  top: 3px;
  right: 15px;
  height: 29px;
  width: 40px;
  background: url( '../images/backgrounds/mobile-nav-button.png' ) no-repeat 0 0;
}
#mobile-nav-modal {
  height:auto;
  border: none;
}
#mobile-nav-modal ul {
  margin-bottom: 0;
  margin-left: 0;
}
#mobile-nav-modal li {
  line-height: 40px;
  list-style: none;
  text-align: left;
  border-bottom: 1px solid #eeeeee;
}
#mobile-nav-modal li ul li {
  border-bottom: none;
  border-top: 1px solid #eeeeee;
}
#mobile-nav-modal li a {
  display: block;
  margin-left: 5%;
}
#mobile-nav-modal li ul li a {
  margin-left: 10%;
}
#mobile-nav-modal h3 {
  font-family:  'Lobster', cursive;
}

/* Nav  */
#menu {
  position: relative;
}
#nav{
  position:relative;
  margin-bottom: 30px;
  z-index:2000;
  text-align:right;
  padding-right:15px;
}
#nav .parent > a, #nav .parent > a:hover{
  background-image:url(../images/arrow.png);
  background-position:right;
  background-repeat:no-repeat
}
#nav > ul, #nav > ul > li{
  text-align: left;
  display:inline;
  list-style:none;
}
#nav ul, #nav ul li{
  padding:0;
  margin:0;
}

#nav > ul > li{
  position:relative
}
#nav > ul > li  ul{
  list-style: none;
  margin: 0;
  z-index: 2001;
}
#nav > ul > li > ul{
  display:none;
  position:absolute;
  top:33px;
  left:-50px;
  width: 200px;
  background: #ffffff;
}
#nav > ul > li:hover ul {
  display:block
}
#nav > ul >li > ul li {
  display: list-item;
  padding: 15px 0;
}
#nav > ul > li > ul li a {
  display: block;
  margin-left: 10px;
}
#nav > ul > li > ul > li {
  border-bottom: 1px solid;
}
#nav > ul > li > ul > li:last-child, #nav > ul > li > ul > li > ul li:last-child {
  border-bottom: none;
}
#nav > ul > li > ul > li > ul li:last-child {
  padding-bottom: 0;
}
#nav > ul > li > ul > li ul li {
  display: list-item;
  padding: 15px 0 15px 10px;
  border-top: 1px solid;
}
#nav > ul > li > ul > li > ul > li ul {
  margin-left: -10px;
}
#nav > ul > li > ul > li > ul > li ul li {
  padding-left: 20px;
}
#nav > ul > li > ul > li > ul li:first-child {
  margin-top: 15px;
} 
.children {
  z-index: 3000;
}
.nav-shadow {
  position: absolute;
  height: 1px;
  width: 98%;
  top: 47px;
  left: 1%;
 	-webkit-box-shadow:  -1px -1px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow:  -1px -1px 5px 5px rgba(0, 0, 0, 0.5);          
}
#nav:before {
  content: ' ';
  position:absolute;
  width:0;height:0;
  top:100%;left:0;
  border-width:15px 0 0 15px;
  border-style: solid;
}
#nav:after {
  content: ' ';
  position:absolute;
  width:0;
  height:0;
  top:100%;
  right:0;
  border-width:0 0 15px 15px;
  border-style: solid;
}

/* ribbons for nav */

.ribbon-left {
  position:absolute;
  top:15px;
  left:-24px;
  height: 50px;
  width:40px;
}
.ribbon-left-cut {
  position:absolute;
  top:15px;
  left:-74px;
  height: 50px;
  width:50px;
}
.ribbon-right {
  position:absolute;
  top:15px;
  right:-24px;
  height: 50px;
  width:40px;
}
.ribbon-right-cut {
  position:absolute;
  top:15px;
  right:-74px;
  height: 50px;
  width:50px;
}

/* bootstrap column correction to allow for ribbon */

.no-padding {
  padding-right:0!important;
  padding-left: 0!important
}
.row-fluid [class*="span"]:first-child {
  padding-left: 15px;
}
.row-fluid [class*="span"]:last-child {
  padding-right: 15px;
}
.slider-padding {
  padding-right: 6px!important;
  padding-left: 0!important;
}

/* Ribbons */

/* content ribbons with left & right sidebar */
.sd_left_sidebar div.ribbon-top {
  position: relative;
  margin-left:-15px;
  width:100%;
  padding:10px 5px 10px 10px; 
}
.sd_right_sidebar div.ribbon-top {
  position: relative;
  margin-left:-15px;
  width:100%;
  padding:10px 5px 10px 10px; 
}
.sd_left_sidebar div.ribbon-shadow {
  position: absolute;
  top: 100%;
  left: 5px;
  margin-top: -6px;
  height: 5px;
  width: 100%;
  -webkit-box-shadow:  0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:  0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow:  0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}
.sd_right_sidebar div.ribbon-shadow {
  position: absolute;
  top: 100%;
  left: 5px;
  margin-top: -6px;
  height: 5px;
  width: 100%;
  -webkit-box-shadow:  0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:  0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow:  0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}
.sd_left_sidebar div.ribbon-top:after {
  content: ' ';
  position:absolute;
  width:0;
  height:0;
  top:100%;
  left: 0;
  border-width: 0 15px 15px 0;
  border-style: solid;      
}
.sd_right_sidebar div.ribbon-top:after {
  content: ' ';
  position:absolute;
  width:0;
  height:0;
  top:100%;
  left: 0;
  border-width: 0 15px 15px 0;
  border-style: solid;    
}
.sd_left_sidebar div.ribbon-more {
  position: absolute;
  top: 0;
  right: -14px;
  height:100%;
  width:15px;
}
.sd_right_sidebar div.ribbon-more {
  position: absolute;
  top: 0;
  right: -14px;
  height:100%;
  width:15px;
}
.sd_left_sidebar div.ribbon-more:after {
  content: ' ';
  position:absolute;
  width:0;
  height:0;
  top:100%;
  right:0;
  border-width:0 0 15px 15px;
  border-style: solid;     
}
.sd_right_sidebar div.ribbon-more:after {
  content: ' ';
  position:absolute;
  width:0;
  height:0;
  top:100%;
  right:0;
  border-width:0 0 15px 15px;
  border-style: solid;
}

/* sidebar ribbons */

.ribbon-bg-blue {
  position: absolute;
  top: 0;
  left: 0;
  height: 36px;
  width: 100%;
}
.ribbon-bg-blue:before {
  content: ' ';
  position:absolute;
  width:0;
  height:0;
  top:100%;
  left:-10px;
  border-width:10px 0 0 10px;
  border-style: solid;
}
.ribbon-bg-blue:after {
  content: ' ';
  position:absolute;
  width:0;
  height:0;
  top:100%;
  right:-9px;
  border-width:0 0 10px 10px;
  border-style: solid;
}
.ribbon-bg-blue .ribbon-shadow {
  position:absolute;
  top: 34px;
  left: 0px;
  height: 1px;
  width: 100%;
  -webkit-box-shadow:  0px 3px 3px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow:  0px 3px 3px 0px rgba(0, 0, 0, 1);
  box-shadow:  0px 3px 3px 0px rgba(0, 0, 0, 1);
}
.ribbon-left-blue {
  position: absolute;
  top: 0;
  left:-10px;
  height: 100%;
  width: 10px;
}
.ribbon-right-blue {
  position: absolute;
  top: 0;
  left:100%;
  height: 100%;
  width: 10px;
}

/* sidebar right ribbon styling */

#sidebar div.ribbon-cut-blue {
  position:absolute;
  top:10px;
  left:100%;
  height: 100%;
  width: 60px;
}

/* sidebar left ribbon styling */

#sidebar_left div.ribbon-cut-blue {
  position:absolute;
  top:10px;
  left:-60px;
  height: 100%;
  width: 60px;
}

/* Home Button */


#home {
  float: left;
  border-right:#aaa 1px solid;
  margin-right:4px;
  margin-left:15px;
  height: 36px;
}
#home a:hover{
  opacity: 0.5
}
#nohome {
  float: left;
  margin-right:4px;
  margin-left:5px;
  height: 35px;
}

/* Search Bar */

.searchform {
  margin: 10px 5px;
}
.search-container {
  width: 80%;
  position: relative;
  margin-left: 10px;
}
.searchform .iRibbon-search {
  height: 25px;
  width: 95%;
  line-height: 1.2em;
  font-size: 1.2em;
  padding: 0 20px 0 2px;
  border: 1px solid #666;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  -webkit-box-shadow: inset 1px 1px 1px 1px rgba(0,0,0, 0.1);
  -moz-box-shadow: inset 1px 1px 1px 1px rgba(0,0,0, 0.1);
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0, 0.1);
}
.search-button {
  position:absolute;
  top: 8px;
  right: -10px;
  color: #fff;
  cursor: pointer;
  width: 12px;
  height: 12px;
  background: url( '../images/magnify.png' ) no-repeat 0 0;
}

#sidebar .searchform {float: none;}

.center .searchform {float:none;}

#morefoot .searchform {float:left;}

/* search results */

.iribbon-search-term {
  font-weight: bold;
  margin-bottom: 20px;
  padding: 10px 10px 10px 30px;
  background: #ffffff url( '../images/magnify.png' ) no-repeat 5px 50%;
  border: 1px solid #A0673E;
}

.iribbon-search-term span {
  font-weight: normal;
}

/* Post Container Styling  */

.post_outer_container {
  position: relative;
  width: 100%;
  margin-left: -15px;
  padding: 0 15px 25px 15px;
  overflow: hidden;
}
.post_container {
	padding: 20px 15px 30px 15px;
	background: #fff;
  overflow: hidden;
}
.post_container ul {
  list-style: disc;
  margin-left: 21px;
  list-style-position: inside;
}
iframe {
  width: 100%;
}
  
.postformats {
	float:right;
	background: #fff;
	margin: -8px 0 0 0;
	height: 46px;
	width: 50px;
}
#comments {
  float: right;
  text-align:left;
  padding-top: 3px;
  font-size: 12px;
}
#share {
  text-align:left;
  float:left;
  padding-top: 3px;
}
.share a img {
  opacity:0.8;
}
.share a:hover img {
  opacity:1;
}
.next-posts-single {
  text-align:right;
  padding:5px;
  margin-top:-35px;
  margin-bottom: 5px;
}
.prev-posts-single {
  text-align:left;
  max-width:300px;
}
.tags {
  margin-bottom: 10px;
  font-size: 12px;
}
#fb {
  width: 440px;
  margin-bottom: 5px;
}
.gplusone {
  margin-bottom: 10px;
}
.post-edit-link {
  background-color: #757575;
  padding: 2px 3px;
  color: white;
  font-size: 10px;
  border-radius: 3px;
  -moz-border-radius: 3px;
}

/* Posts Navigation */

.next-posts {
  float: left;
  padding: 5px 0 5px 0;
}
.prev-posts {
  float: right;
  padding: 5px 0 5px 0;
}
#crumbs {
  background: transparent;
}
.crumbs_text {
  padding: 5px 0 0 15px;
}
#post_pagination {
  border: 1px solid #DDD;
  margin-bottom: 15px;
  background: #FFF;
}
.pagination_text {
  padding: 10px 15px 10px 15px;
  height: 20px;
}
.pagnext-posts {
  float: left;
  padding: 5px;
  margin-bottom: 10px;
}
.pagprev-posts {
  float: right;
  padding: 5px;
  margin-bottom: 10px;
}

/* HTML styling  */

dt {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 26px;
}
dd {
  margin-bottom: 15px;
  margin-left: 26px;
}
ul, ol { 
	margin: 0 0 10px 0;
}
th {
  padding-right: 10px;
  padding-bottom: 10px;
}
td {
  border-top: 1px solid #DDD;
  padding: 6px 10px 6px 0;
}
table {
  border-bottom: 1px solid #DDD;
}
pre {
  margin-left: 20px;
}
ol, ul {
  list-style-position: inside;
  margin-left: 21px;
}

/* Sidebar  */

#sidebar {
  *margin-top: 15px;
  margin-bottom:15px;
  background:#bebebe
}
#sidebar_left {
  margin-bottom:15px;
  background:#bebebe
}
.sd_right_sidebar {
  padding-right: 15px;
}
.sd_left_sidebar {
  padding-left: 15px;
}
.widget-container {
  position: relative;
	color: #666;
  margin-top: 0;
	padding:  50px 15px 15px 15px;
	background: transparent;
}
.widget-container:first-child {
  margin-top: 0;
}
.widget-container li {
  list-style: none;
  margin: 5px;
}
.widget-container li ul {
  margin-left: 2px;
}
.textwidget {
  padding-top: 10px;
}
.widget-title{
  position:absolute;
  top:0;
  left:10px;
  font-size:1.5em;
  font-family: 'Lobster', cursive;
  color: #e9ecc9;
  text-shadow:none;
  text-shadow: 1px 2px 2px rgba(0,0,0,0.5);
  filter: dropshadow(color=rgba(0,0,0,0.5), offx=1, offy=2);      
}
.widget-container > ul{
  margin-left: 0px;
}

/* Blog and Post Styles */

.entry-title{
  margin-bottom:2px
}
.single .entry-title{
  text-align:left;
  line-height:30px;
  margin-top:12px;
  margin-bottom:10px
}
.nav-previous{
  text-align:left
}
.nav-next{
  text-align:right
}
.iRibbon-post-meta {
  clear: both;
  background: #EEE;
  padding: 10px;
  -webkit-border-radius: 3px;    
  border-radius: 3px;
}
.meta {
  color: #989898;
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 10px;
}
.entry-meta, .entry-utility, .entry-meta a, .entry-utility a{
  font-size:12px
}
.entry-meta, .entry-utility{
  color:#888
}
.comment, .trackback, .pingback{
  padding:10px;margin:10px 0 10px 0
}
.odd{
  background:#f8f8f8
}
#form-allowed-tags code{
  font-size:12px
}
#respond input, #respond textarea{
  margin:0 5px 5px 0;overflow:auto
}
#respond textarea{
  width:99%;height:150px
}
.avatar{
  float:left
}

.sticky{
	
}

.gallery-caption{
	
}
/* Footer  */

.footer-container {
  padding-top:15px;
  padding-bottom: 15px;
  background: #333
}
.footer-widgets {
	color: #fff;
  margin-left: 2%;
}
.footer-widget-title {
	font-size:20px;
  font-family: 'Lobster', cursive;
  color: #e9ecc9;/* yellow */
  font-weight: 400;
  text-shadow: 1px 2px 2px rgba(0,0,0,0.5);
  filter: dropshadow(color=rgba(0,0,0,0.5), offx=1, offy=2);
}
.footer-widgets ul{
  padding:5px 0px 5px 0px;
  margin: 0px;
}
.footer-widgets li {
	list-style-type: none;
	padding-left: 0;
	color: #666;
}
.footer-item ul {
	padding-left: 0;
}
#afterfooterwrap {
	margin: 20px auto;
	padding-top: 10px;
}
#afterfootercopyright {
  color: #e9ecc9;/* yellow */
  text-align: right;
}
#credit {
  text-align: left;
  margin-bottom: 3px;
}

/* WordPress Styles  */

.featured-image {
  margin-top:4px;
  margin-right: 12px;
  margin-bottom: 10px;
}
.alignnone {
	display: block;
  margin: 5px 20px 20px 0;
}
.aligncenter, div.aligncenter {
  display:block;
  margin: 5px auto 5px auto;
}
.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float:left;
  margin: 5px 20px 20px 0;
}
.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
a img.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
	margin: 5px 20px 20px 0;
}
a img.alignleft {
  float:left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}
img.size-full {
	max-width: 100%;
	height: auto;
}
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 15px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
 	margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
 	margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin:0;
  max-width: 95%;
  padding:0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size:11px;
  line-height:17px;
  margin:0;
  padding:0 4px 5px;
}
blockquote { 
	background-color: #ccc;
	margin: 10px;
	padding: 3px;
}

blockquote p {
  margin: 10px;
}

/* Comments  */

.comments_container {
  position: relative;
	padding-bottom: 30px;
}
#comments .navigation {
  padding: 0 0 18px 0;
}
label[for="comment"] {
  display: block;
}

/* remove reply title as you have it manually written */

#reply-title {
  display: none;
}

/* Comment lists  */

ol.commentlist { list-style: none; }
ol.commentlist p { margin-left: 8px; }
ol.commentlist li { }
ol.commentlist li.alt { }
ol.commentlist li.bypostauthor { }
ol.commentlist li.byuser { }
ol.commentlist li.comment-author-admin { }
ol.commentlist li.comment { padding: 10px; }
ol.commentlist li.comment div.comment-author { }
ol.commentlist li.comment div.vcard { }
ol.commentlist li.comment div.vcard cite.fn { font-style: normal; }
ol.commentlist li.comment div.vcard cite.fn a.url { }
ol.commentlist li.comment div.vcard img.avatar { margin: 0 10px 10px 10px; }
ol.commentlist li.comment div.vcard img.avatar-32 { }
ol.commentlist li.comment div.vcard img.photo { }
ol.commentlist li.comment div.vcard span.says { }
ol.commentlist li.comment div.commentmetadata { }
ol.commentlist li.comment div.comment-meta { font-size: 11px; }
ol.commentlist li.comment div.comment-meta a { color: #888; }
ol.commentlist li.comment p { }
ol.commentlist li.comment ul { }
ol.commentlist li.comment div.reply { font-size: 11px; margin-left: 8px; }
ol.commentlist li.comment div.reply a { font-weight: bold; }
ol.commentlist li.comment ul.children { list-style: none; margin: 10px 0 0; }
ol.commentlist li.comment ul.children li { }
ol.commentlist li.comment ul.children li.alt { }
ol.commentlist li.comment ul.children li.bypostauthor { }
ol.commentlist li.comment ul.children li.byuser { }
ol.commentlist li.comment ul.children li.comment { }
ol.commentlist li.comment ul.children li.comment-author-admin { }
ol.commentlist li.comment ul.children li.depth-2 {  margin: 0 0 10px 10px; }
ol.commentlist li.comment ul.children li.depth-3 {  margin: 0 0 10px 10px; }
ol.commentlist li.comment ul.children li.depth-4 {  margin: 0 0 10px 10px; }
ol.commentlist li.comment ul.children li.depth-5 { }
ol.commentlist li.comment ul.children li.odd { }
ol.commentlist li.even { background: #fafafa;border: 1px solid #ccc;border-radius: 4px;-moz-border-radius: 4px; }
ol.commentlist li.odd { background: #fff;border: 1px solid #ccc;border-radius: 4px;-moz-border-radius: 4px; }
ol.commentlist li.parent { }
ol.commentlist li.thread-alt { }
ol.commentlist li.thread-even { }
ol.commentlist li.thread-odd { }

form label {
	display: block;
	font-size: 13px;
	line-height: 18px;
	cursor: pointer;
	margin-bottom: 9px;
}
textarea {
  margin-top: 10px;
  padding-bottom: 10px;
  width: 90%;
}

/* Fonts */

body {
  font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}
hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

/* Headings */

h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
}

/* Custom Font Styles */

.posts_title, .commentsh2 {
  font-family: 'Lobster', cursive;
  color: #e9ecc9;
  margin-left: 20px;
	text-decoration: none;
  text-shadow: 1px 2px 2px rgba(0,0,0,0.5);
  filter: dropshadow(color=rgba(0,0,0,0.5), offx=1, offy=2);
}
.posts_title a {
 color: #e9ecc9;
}
.posts_title a:hover{
	color: #a3a58c;
}
h1.description, h1.sitename {
  margin-bottom: 0px;
}
.description {	
	font-size: 16px;
	margin-top:25px;
}
.sitename {
	font-size: 32px;
	font-weight: bolder;
}

/* Spacing */

ol {
  list-style: decimal;
}
ul {
  list-style: disc;
}

/* Tabs */

.response-tabbed-header li a {
	float: left;
	padding: 7px 13px 7px 13px;
	margin-left: 0px;
	font-size:13px;	
}
.response-tabbed-tab {
	clear: both;
}
.ui-tabs-hide {
	display: none;
}

/* set up padding for screen sizes 1000px width */
@media (max-width: 1150px) {
/* where ever this is placed the element get padding left and right of 25px */
.iribbon-content-margin {
  margin-right: 70px;
  margin-left: 70px;
}
}
/* set up mobile phone styles */
@media (max-width: 768px) {
.iribbon-content-margin {
  margin-right: 20px;
  margin-left: 20px;
}
/* sidebar */
#sidebar {
  margin-left: 10px;
}

#sidebar .ribbon-cut-blue {
  display: none;
}
/* footer */
footer .row-fluid [class*="span"]:first-child {
  padding-left: 0;
}
.footer-container {
  padding-right: 20px;
  padding-left: 20px; 
}
.footer-container .footer-widgets {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px dotted #555;
}
/******************************************/
/******** Elements ************************/
/******************************************/

/* widget boxes */
.boxes-row .span4:last-child {
	padding-right: 0!important;
}
.boxes-row {
  margin-right: 0;
}
.box_outer_container {
  margin-right: 25px;
}
.box_outer_container .iribbon-box {
  margin-left: 10px;
}

/* twitter */
#twitterbar {
  margin-right: 5px;
  margin-left:15px;
}
}
.entry embed, .entry object {
  width: 95%;
  max-width: 95%;
}

#nav > ul > li > a{
  color: #333333;
  display:inline-block;
  font-style:italic;
  font-size:16px;
  line-height:50px;
  text-decoration:none;
  padding:0 15px;
}

#menu-item-297 > a{
  color: #FF9900 !important; 
  display:inline-block;
  font-style:italic;
  font-size:16px;
  line-height:50px;
  text-decoration:none;
  padding:0 15px;
  font-weight: bold; 
}

#menu-item-297 > a:hover{
  color: #E9E3BB !important; 
  display:inline-block;
  font-style:italic;
  font-size:16px;
  line-height:50px;
  text-decoration:none;
  padding:0 15px;
  font-weight: bold; 
}



#nav > ul > li > a {
  color:#E9E3BB;/*yellow*/ 
}